<div class="product-status mg-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh Sách Đơn Hàng</h4>
                    <table>
                        <tr>
                            <th>Tên người nhận</th>
                            <th>Địa chỉ người nhận</th>
                            <th>Số điện thoại người nhận</th>
                            <th>Ngày đặt</th>
                            <th>Tổng giá tiền</th>
                        </tr>
                        {{#each listOrder}}
                        <tr>
                            <td>{{this.ReceiverName}}</td>
                            <td>{{this.ReceiverAddress}}</td>
                            <td>{{this.ReceiverPhonenumber}}</td>
                            <td>{{this.OrderDate}}</td>
                            <td>{{this.Sum}}</td>
                            <td>
                                <a href="/order-edit-{{this._id}}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                <form action="/order-trash-{{this._id}}" method="POST">
                                    <button type="submit" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
