<!-- Single pro tab start-->
<div class="single-product-tab-area mg-tb-15">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>Chi tiết đơn đặt hàng</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <form action="/order-edit" method="post">
                                        <div class="review-content-section">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Tên người nhận&emsp;&emsp;&emsp13;&nbsp;</span>
                                                <input type="text" class="form-control" value="{{order.ReceiverName}}" name="ReceiverName">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Địa chỉ&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" value="{{order.ReceiverAddress}}" name="ReceiverAddress">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Số điện thoại&emsp;&emsp;&emsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" value="{{order.ReceiverPhonenumber}}" name="ReceiverPhonenumber">
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Ngày đặt&emsp;&emsp;&emsp;&emsp;&emsp;&emsp14;</span>
                                                <input type="text" class="form-control" placeholder="{{order.OrderDate}}" readonly>
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Tổng giá tiền&emsp;&emsp;&emsp;&emsp13;</span>
                                                <input type="text" class="form-control" placeholder="{{order.Sum}}" readonly>
                                            </div>
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon">Tình trạng giao hàng</span>
                                                <select class="form-control" name="DeliveryStatus" value="{{order.DeliveryStatus}}">
                                                    <option value="Chưa giao">Chưa giao</option>
                                                    <option value="Đã giao">Đã giao</option>
                                                </select>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="product-status-wrap">
                                            <h4>Danh sách sản phẩm trong đơn hàng</h4>
                                            <table>
                                                <tr>
                                                    <th>Tên sản phầm</th>
                                                    <th>Giá</th>
                                                    <th>Số lượng</th>
                                                </tr>
                                                {{#each arrProduct}}
                                                <tr>
                                                    <td>{{this.Name}}</td>
                                                    <td>{{this.Cost}}</td>
                                                    <td>{{this.amount}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                            <div class="custom-pagination">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                </br>
                                  <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                <form action="/order-edit" method="post">
                                                    <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10" value="Lưu Thay Đổi">
                                                </form>
                                              <a href="/order-list" class="btn btn-warning waves-effect waves-light">Quay Trở Lại</a>
                                          </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>